.logo {
    width: 80px;
    height:80px;
    background-color: transparent;
}

.logo-text {
    margin-left: 5px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 600;
}

.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}

.icon {
    font-size: 23px;
    margin-left: 15px;
}
.icon:hover {
    cursor: pointer;
}